html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  
}

.container {
margin: auto;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main{
    position: relative;
	left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
}

.cat{
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: 0;
    transform: translate(-50%, -50%) scale(0.5);
}

.cat-head{
    background: rgb(51,41,43);
    background: radial-gradient(circle, rgba(51,41,43,1) 35%, rgba(79,67,70,1) 91%, rgba(103,90,93,1) 97%);
    width: 500px; 
    height: 450px;
    border-radius: 20% 15% 45% 44% / 21% 22% 38% 39%  ;
    position: absolute;
    bottom: 0;
    position: sticky;
}

.left-eye, .right-eye{
    z-index: 2;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #2e4868;
    position: relative;
}

.left-eye{
    border-radius: 0% 55% 23% 44% / 37% 61% 0% 40% ;
    transform: rotate(-20deg);
    top: 42%;
    left: 15%;
}

.right-eye{ 
    border-radius: 61% 0% 46% 0% / 58% 24% 50% 27% ;
    transform: rotate(20deg);
    top: 20%;
    left: 65%;
}

.left-eye > .inner-left{
    position: relative;
    filter:opacity(55%);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: white;
    top: 15px;
    transform: translateX(25px);
}

.right-eye > .inner-right{
    position: relative;
    filter:opacity(55%);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: white;
    top: 25px;
    transform: translateX(25px);
}
.nose{
    z-index: 2;
    position: absolute;
    top: 56%;
    left:43%;
    width: 75px;
    height: 75px;
    clip-path: polygon(25.5% 49.25%, 48.63% 49.25%, 71.75% 49.25%, 82.25% 59.83%, 85.75% 71.34%, 64.45% 75%, 48.5% 92.25%, 29.85% 75%, 11.19% 71.34%, 13.45% 59.83%);
    background-color: #fc7892;
}

.mouth{
    z-index: 2;
    position:absolute;
    top:64%;
    left: 40%;
    width: 100px;
    height: 100px;
    clip-path: polygon(49.25% 33.5%, 53.5% 33.5%, 54.38% 40.69%, 55.57% 45.26%, 59.5% 47.88%, 69.75% 47.88%, 83.7% 55.06%, 83.98% 60.47%, 69.75% 53.96%, 51.13% 47.88%, 32% 55.06%, 19.55% 59.74%, 19.55% 55.06%, 32% 47.88%, 42.75% 47.88%, 46.71% 45.23%, 48.13% 40.69%);
    background-color: #000000;
}

.tongue{
    z-index: 2;
    position: absolute;
    clip-path: polygon(55.57% 45.26%, 59.5% 47.88%, 69.75% 47.88%, 69.75% 53.96%, 67.85% 73.92%, 61.49% 84.67%, 51.92% 88.04%, 42.34% 84.67%, 35.77% 73.92%, 32% 55.06%, 32% 47.88%, 42.75% 47.88%, 46.71% 45.23%);
    background-color: #eb4747;
    top:65%;
    left: 40%;
    width: 100px;
    height: 100px;
    opacity: 0;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.nose:hover ~ .tongue{
    opacity: 1;
}

.left-ear{
    z-index: 0;
    animation: left-ear-shake 5s ease-in-out 0s infinite;
    width:200px;
    height: 200px;
    border-radius: 0% 54% 0% 40% / 40% 24% 50% 24%;
    position: absolute;
    background: rgb(51,41,43);
    background: linear-gradient(312deg, rgba(51,41,43,1) 36%, rgba(79,67,70,1) 89%, rgba(103,90,93,1) 97%);
    left:-10%;
    top: -1%;
    transform: rotate(-15deg);
}
.right-ear{
    z-index: 0;
    animation: right-ear-shake 5s ease-in-out 3s infinite;
    width:200px;
    height: 200px;
    border-radius:54% 0% 52% 0% / 42% 24% 50% 30% ;
    position: absolute;
    background: rgb(51,41,43);
    background: linear-gradient(45deg, rgba(51,41,43,1) 36%, rgba(79,67,70,1) 89%, rgba(103,90,93,1) 97%);
    right:-10%;
    top: -1%;
    transform: rotate(15deg);
}

.cat-head::before{
    content: "";
    background-color: #a90022;
    position: absolute;
    bottom: 0;
    border-radius: 150px;
    width: 100%;
    height: 40px;
}
.cat-head::after{
    content: "";
    background-color: rgb(33, 31, 9);
    position: absolute;
    width: 1000px;
    height: 700px;
    top: 100%;
    transform: translateY(300px);
    transform: translateX(-26%);
}

.left-paw, .right-paw{
    z-index: 1;
    clip-path: polygon(63.4% 100%, 70.71% 94.34%, 87.09% 96.25%, 100% 89.71%, 100% 43.04%, 87.09% 31.88%, 70.71% 27.07%, 26.24% 27.07%, 11.19% 31.88%, 0% 43.04%, 0% 89.71%, 11.19% 96.25%, 28.35% 95.52%, 34.9% 100%, 50.25% 100%);
    background: rgb(51,41,43);
    background: linear-gradient(180deg, rgba(51,41,43,1) 52%, rgba(103,90,93,1) 85%);
    position: absolute;
    width: 200px;
    height: 200px; 
}
.left-paw{
    transform: translateY(-90px);
    left: -25%;
}

.right-paw{
    transform: translateY(-90px);
    right: -25%;
}

.left-whiskers, .right-whiskers{
    clip-path: polygon(100% 49.25%, 100% 53.25%, 0% 53.25%, 0% 49%);
    background-color: #b6b6b6;
    width: 150px;
    height: 35px;
    filter:opacity(90%);}

.left{
    position: absolute;
    left:9%;
    top:65%;
    transform: rotate(-15deg);
}

.left-whiskers:nth-child(1){
    transform: rotate(15deg);
}
.left-whiskers:nth-child(3){
    transform: rotate(-15deg);
}

.right{
    position: relative;
    left:63%;
    top: 30%;
    transform: rotate(15deg);
}

.right-whiskers:nth-child(1){
    transform: rotate(-15deg);
}
.right-whiskers:nth-child(3){
    transform: rotate(15deg);
}

.envelope{
    top: 500px;
    transform:translate(200px,884px);
    clip-path: polygon(11.25% 21.25%, 91.25% 21.25%, 91.25% 81%, 11.25% 81%);
    background-color:  #9cb3e5;
    width: 700px;
    height: 600px;
}

.flap{
    position:absolute;
    transform:translate(200px,285px);
    clip-path: polygon(11.25% 21.25%, 91.25% 21.25%, 91.25% 32.5%, 51.25% 48%, 11.25% 32.5%);
    background-color: #d0dfff;
    width: 700px;
    height: 600px;
}

.heart{
    animation: shake 2s ease-in-out 3s infinite;
    position:absolute;
    top:1090px;
    left: 480px;
    clip-path: polygon(49.51% 26.6%, 54.82% 22.05%, 64.27% 17.44%, 73.24% 14.28%, 82% 18%, 90% 26%, 93% 36.91%, 90% 50%, 72.18% 73.75%, 50% 93.5%, 27.83% 73.75%, 10% 50%, 4.69% 38.45%, 7.25% 26%, 16.76% 15.94%, 25.83% 12.67%, 34.9% 15.94%, 44.2% 22.05%);
    background-color: #db1d33;
    width: 150px;
    height: 150px;
}

.heart:hover{
    transform: scale(1.2);
}

@keyframes left-ear-shake {
	0%,
	100% {
		transform: translateY(0) rotate(0);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateY(-30px) rotate(6deg);
	}

	30% {
		transform: translateY(15px) rotate(-6deg);
	}

	45% {
		transform: translateY(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateY(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateY(-6px) rotate(1.2deg);
	}
}

@keyframes right-ear-shake {
	0%,
	100% {
		transform: translateY(0) rotate(0);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateY(-30px) rotate(-6deg);
	}

	30% {
		transform: translateY(15px) rotate(6deg);
	}

	45% {
		transform: translateY(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateY(9px) rotate(2.4deg);
	}

	75% {
		transform: translateY(-6px) rotate(-1.2deg);
	}
}

@keyframes shake {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 0;
	}

	10% {
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(4deg);
	}

	80% {
		transform: rotate(-2deg);
	}

	90% {
		transform: rotate(2deg);
	}
}

